@model IEnumerable<DaoRepository.usuarios_dto>

@{
    ViewData["Title"] = "Usuarios";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Add" class="btn btn-success">Agregar usuario</a>
</p>
<table class="table" id="example" width="100%">
    <thead>
        <tr>
            <th>
                Rut
            </th>
            <th>
                Nombre
            </th>
            <th>
                Password
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_completo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                <i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Edit", "Edit", new { rut = item.rut }) |
                <i class="fa fa-eye" aria-hidden="true"></i>@Html.ActionLink("Details", "Details", new { rut = item.rut }) |
                <i class="fa fa-trash-o" aria-hidden="true"></i>@Html.ActionLink("Delete", "Delete", new { rut = item.rut })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#example").DataTable();
        });
    </script>
}